<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE configuration
        PUBLIC "-//mybatis.org//DTD Config 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-config.dtd">

<!-- 配置文件的根元素 -->
<configuration>
<!--    <properties resource="config\generator.properties"/>-->
<!--    &lt;!&ndash;配置全局属性&ndash;&gt;-->
<!--    <settings>-->
<!--        &lt;!&ndash;使用jdbc的getGeneratedKeys获取数据库自增主键值&ndash;&gt;-->
<!--        <setting name="useGeneratedKeys" value="true"/>-->
<!--        &lt;!&ndash;使用列标签替换列别名 默认未true&ndash;&gt;-->
<!--        <setting name="useColumnLabel" value="true" />-->
<!--        &lt;!&ndash;开启驼峰式命名转换：Table{create_time} -> Entity{createTime}&ndash;&gt;-->
<!--        <setting name="mapUnderscoreToCamelCase" value="true" />-->
<!--    </settings>-->
<!--    <environments default="test">-->
<!--        &lt;!&ndash; id：唯一标识 &ndash;&gt;-->
<!--        <environment id="test">-->
<!--            &lt;!&ndash; 事务管理器，JDBC类型的事务管理器 &ndash;&gt;-->
<!--            <transactionManager type="JDBC" />-->
<!--            &lt;!&ndash; 数据源，池类型的数据源 &ndash;&gt;-->
<!--            <dataSource type="POOLED">-->
<!--                <property name="driver" value="${jdbc_driver}" />-->
<!--                <property name="url" value="${jdbc_url}" />-->
<!--                <property name="username" value="${jdbc_user}" />-->
<!--                <property name="password" value="${jdbc_password}" />-->
<!--            </dataSource>-->
<!--        </environment>-->
<!--        <environment id="development">-->
<!--            &lt;!&ndash; 事务管理器，JDBC类型的事务管理器 &ndash;&gt;-->
<!--            <transactionManager type="JDBC" />-->
<!--            &lt;!&ndash; 数据源，池类型的数据源 &ndash;&gt;-->
<!--            <dataSource type="POOLED">-->
<!--                <property name="driver" value="${jdbc_driver}" />-->
<!--                <property name="url" value="${jdbc_url}" />-->
<!--                <property name="username" value="${jdbc_user}" />-->
<!--                <property name="password" value="${jdbc_password}" />-->
<!--            </dataSource>-->
<!--        </environment>-->
<!--    </environments>-->
    <settings>
        <setting name="mapUnderscoreToCamelCase" value="true" />
        <!--<setting name="logImpl" value="STDOUT_LOGGING" />-->
    </settings>
</configuration>