<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.wang.study.photositejava.dao.PsLoadHistoryMapper">
  <resultMap id="BaseResultMap" type="com.wang.study.photositejava.bean.PsLoadHistory">
    <result column="load_id" jdbcType="BIGINT" property="loadId" />
    <result column="user_id" jdbcType="BIGINT" property="userId" />
    <result column="photo_id" jdbcType="BIGINT" property="photoId" />
    <result column="load_time" jdbcType="TIMESTAMP" property="loadTime" />
    <result column="load_type" jdbcType="INTEGER" property="loadType" />
  </resultMap>
  <insert id="insert" parameterType="com.wang.study.photositejava.bean.PsLoadHistory" useGeneratedKeys="true" keyProperty="loadId" keyColumn="load_id">
    insert into ps_load_history (
        user_id,
        photo_id,
        <if test="loadType!=null">
            load_type,
        </if>
        load_time
        )
    values (
        #{loadId,jdbcType=BIGINT},
        #{userId,jdbcType=BIGINT},
        #{photoId,jdbcType=BIGINT},
        <if test="loadType!=null">
            #{loadType,jdbcType=INTEGER},
        </if>
        <choose>
            <when test="loadTime!=null">
                #{loadTime,jdbcType=TIMESTAMP}
            </when>
            <otherwise>
                NOW()
            </otherwise>
        </choose>
        );
  </insert>
  <select id="selectAll" resultMap="BaseResultMap">
    select load_id, user_id, photo_id, load_time, load_type
    from ps_load_history;
  </select>
    <select id="seletUserRecordByUserId" resultMap="BaseResultMap">
        select * from ps_load_history where user_id = #{userId};
    </select>
    <select id="findPhotosByUserIdAndType" resultType="com.wang.study.photositejava.bean.PsPhotos">
        select photos.*
        from ps_photos as photos right join ps_load_history as history on photos.photo_id = history.photo_id
        where history.user_id =#{userId} and history.load_type = #{historyType};
    </select>
</mapper>